<div>
    <form name="addBook">
        <fieldset ng-disabled="isSaving">
            <preferredcampus></preferredcampus>
            <div class="row">
                <div class="medium-2 small-1 end columns">
                    <label for="title">Title:</label>
                </div>
                <div class="medium-10 small-11 columns">
                    <input type="text" id="title" placeholder="Textbook title" ng-model="title" ng-required="true">
                </div>
            </div>
            <div class="row">
                <div class="medium-2 small-1 end columns">
                    <label for="course">Course:</label>
                </div>
                <div class="medium-10 small-3 end columns">
                    <input type="text" id="course" placeholder="Course ID" maxlength="15" ng-model="course">
                </div>
            </div>
            <div class="row">
                <div class="medium-2 small-1 end columns">
                    <label for="authors">Authors:</label>
                </div>
                <div class="medium-10 small-11 columns">
                    <input type="text" id="authors" placeholder="Textbook title" ng-model="authors">
                </div>
            </div>

            <div class="row">
                <div class="medium-2 small-1 end columns">
                    <label for="isbn">ISBN:</label>
                </div>
                <div class="medium-10 small-3 end columns">
                    <input type="text" id="isbn" placeholder="ISBN (Optional)" maxlength="15" ng-model="isbn">
                </div>
            </div>
            <div class="row">
                <div class="medium-2 small-1 end columns">
                    <label for="price">Price:</label>
                </div>
                <div class="medium-10 small-3 end columns">
                    <input type="text" id="price" placeholder="Price (Optional)" maxlength="6" ng-model="price">
                </div>
            </div>
            <div class="row">
                <div class="medium-2 small-1 end columns">
                    <label for="description">Description:</label>
                </div>
                <div class="medium-10 small-11 columns">
                    <textarea required class="error" id="description" rows="10" cols="20" placeholder="Textbook description. Provide descritive information that search will find your book" ng-model="description"></textarea>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="medium-12 small-12 columns">
                    <a ng-show="isSaving" ng-click="addAnother()" class="button right">Add another </a><a ng-show="!isSaving" ng-click="submitForm()" class="button right">Save</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
