<div>
    <div class="large-12 medium-12 columns">
        <div class="tile triple bg-cyan">
            <div class="tile-content image">
                <img src="../src/vendor/images/book.png" />
            </div>

            <div class="brand bg-black">
                <span class="label fg-white">{{category.items[0].title}}</span>
                <div class="badge bg-cyan">{{category.items[0].totalItems}}</div>
            </div>
        </div>
        
        <div class="tile bg-orange">
            <div class="tile-content image">
                <img src="../src/vendor/images/comments.png" />
            </div>

            <div class="brand bg-black">
                <span class="label fg-white">{{category.items[1].title}}</span>
                <div class="badge bg-orange">{{category.items[1].totalItems}}</div>
            </div>
        </div>
        
        <div class="tile double bg-magenta">
            <div class="tile-content image">
                <img src="../src/vendor/images/grid.png" />
            </div>

            <div class="brand bg-black">
                <span class="label fg-white">{{category.items[2].title}}</span>
                <div class="badge bg-magenta">{{category.items[2].totalItems}}</div>
            </div>
        </div>
        
        <div class="tile double bg-lightGreen">
            <div class="tile-content image">
                <img src="../src/vendor/images/star.png" />
            </div>

            <div class="brand bg-black">
                <span class="label fg-white">{{category.items[3].title}}</span>
                <div class="badge bg-lightGreen">{{category.items[3].totalItems}}</div>
            </div>
        </div>
        
        <div class="tile double bg-indigo">
            <div class="tile-content image">
                <img src="../src/vendor/images/link.png" />
            </div>

            <div class="brand bg-black">
                <span class="label fg-white">{{category.items[4].title}}</span>
                <div class="badge bg-indigo">{{category.items[4].totalItems}}</div>
            </div>
        </div>

        <div class="tile double bg-lighterBlue">
            <div class="tile-content image">
                <img src="../src/vendor/images/users.png" />
            </div>

            <div class="brand bg-black">
                <span class="label fg-white">{{category.items[5].title}}</span>
                <div class="badge bg-lighterBlue">{{category.items[5].totalItems}}</div>
            </div>
        </div>
    </div>
</div>