<div class="row">
    <div>
        Your all share ride entries are here...
        <br />
    </div>
    <div>
        <ol>
            <li class="g" ng-repeat="result in searchResults">
                <div>
                    <h3 class="g">{{result.startDateTime}}</h3>
                    <section>{{result.fromLocation}} to {{result.toLocation}}</section>
                    <button class="primary" ng-click="edit($index)">Edit </button> <button class="alert" ng-click="delete($index)">Delete </button>
                </div>
            </li>
        </ol>
        <button class="info large" ng-click="add()">Add New </button>
    </div>
</div>
