<div>
    <form name="my">
        <fieldset ng-disabled="isSaving">
            <preferredcampus></preferredcampus>
            <form-message></form-message>
            <div class="row">
                <div class="medium-2 small-1 end columns">
                    <label for="from">From:</label>
                </div>
                <div class="medium-10 small-11 columns">
                    <input type="text" id="from" ng-minlength="5" required placeholder="From where you will start..." maxlength="500" ng-model="fromLocation">
                </div>
            </div>
            <div class="row">
                <div class="medium-2 small-1 end columns">
                    <label for="to">To:</label>
                </div>
                <div class="medium-10 small-3 end columns">
                    <input type="text" id="to" ng-minlength="5" required placeholder="Where you going..." maxlength="500" ng-model="toLocation">

                </div>
            </div>
            <div class="row">
                <div class="medium-2 small-1 end columns">
                    <label for="startDate">Start:</label>
                </div>
                <div class="medium-10 small-3 end columns">
                    <!--<input type="text" ng-minlength="5" required id="startDate" placeholder="Start date time." maxlength="500" ng-model="startDateTime">-->
                    <div class="row date collapse" id="dp3" data-date-format="dd-mm-yyyy">
                        <input style="width:20%" required class="small-3 columns" size="16" type="text" ng-model="startDateTime" readonly>
                        <span style="width:5%" class="prefix small-2 columns end"><i class="fa fa-calendar"></i></span>
                    </div>    
                </div>
            </div>
            <div class="row" ng-show="isRoundtrip">
                <div class="medium-2 small-1 end columns">
                    <label for="returnDate">Return:</label>
                </div>
                <div class="medium-10 small-3 end columns">
                    <!--<input type="text" ng-minlength="5" required id="startDate" placeholder="Start date time." maxlength="500" ng-model="startDateTime">-->
                    <div class="row date collapse" id="dp4" data-date-format="dd-mm-yyyy">
                        <input ng-required="isRoundtrip" style="width:20%" class="small-3 columns" size="16" type="text" ng-model="returnDateTime" readonly>
                        <span style="width:5%" class="prefix small-2 columns end"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="medium-2 small-1 end columns">
                    &nbsp;
                </div>
                <div class="medium-10 small-3 end columns">
                    <input type="checkbox" id="isRoundtrip" placeholder="Is this a round trip..." ng-model="isRoundtrip" /><label for="isRoundtrip">Is round trip?</label>
                </div>
            </div>
            <div class="row">
                <div class="medium-2 small-1 end columns">
                    <label for="additionalInfo">Additional Info:</label>
                </div>
                <div class="medium-10 small-11 columns">
                    <textarea id="additionalInfo" rows="10" cols="20" placeholder="Optionally additional information you may provide" ng-model="additionalInfo"></textarea>
                </div>
            </div>
            <br />
            <submit></submit>
        </fieldset>
    </form>
</div>

<script type="text/javascript">
    $(function () {
        $('#dp3').fdatepicker();
        $('#dp4').fdatepicker();
    });
</script>