<div class="large-12 medium-12 columns">
    <h4>{{title}}</h4>
    <form ng-submit="search()">
        <div class="row">
            <div class="medium-11 small-11 end columns">
                <input type="search" ng-model="keyword" placeholder="Search by anything such as ISBN, Title, Keyword etc" />
            </div>
            <div class="medium-1 small-1 columns">
                <button class="large" id="search" ng-click="search()">Go</button>
            </div>
        </div>
    </form>
        <ol>
            <li class="g" ng-repeat="result in searchResults">
                <div>
                    <h3 class="g">{{result.Title}}</h3>
                    <span class="price" ng-show="result.Price"> {{result.CurrencySymbol||'$'}}{{result.Price}}</span><span class="isbn" ng-show="result.Isbn"> ISBN: {{result.Isbn}}</span>
                    <section>{{result.Description}}</section>
                    <button class="primary">Contact Seller </button>
                </div>
            </li>
        </ol>
</div>
