<div class="large-12 medium-12 columns">
    <h4>{{title}}</h4>
    <span><input type="search" /></span><span><a>advance options</a></span>
    <ol>
        <li class="g" ng-repeat="result in searchResults">
            <div>
                <h3 class="g">{{result.Title}}</h3>
                <span class="price" ng-show="result.Price"> {{result.Price}}</span><span class="isbn" ng-show="result.Isbn"> ISBN: {{result.Isbn}}</span> 
                <section>{{result.Description}}</section>
            </div>
        </li>
    </ol>
</div>
