<div>
    <form name="selectCampus">
        <fieldset ng-disabled="isSaving">
            <div class="row">
                <div class="medium-2 small-1 end columns">
                    <label for="campus">Campus:</label>
                </div>
                <div class="medium-10 small-11 columns">
                    <select id="campus" ng-model="campus" ng-options="campus.name for campus in campuses">
                        <option value="">-- choose campus --</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="medium-12 small-12 columns">
                    <a ng-click="submitForm()" class="button right">Save</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
