<div class="row">
    <div class="large-12 medium-12 columns">
        <div class="row">
            Choose a category to start.
            <br />
            You can add/delete/update a category item after selecting one from the list below.
        </div>
        
        <div class="row">
            <a href="/#/auth/textbook/">
                <div>
                    <h2>textbook</h2>
                </div>
            </a>
        </div>
        
        <div class="row">
            <a href="/#/auth/findtutor/">
                <div>
                    <h2>find tutor</h2>
                </div>
            </a>
        </div>
        
        <div class="row">
            <a href="/#/">
                <div>
                    <h2>room for rent</h2>
                </div>
            </a>
        </div>
        
        <div class="row">
            <a href="/#/">
                <div>
                    <h2>campus life event</h2>
                </div>
            </a>
        </div>
        
        <div class="row">
            <a href="/#/auth/shareride/">
                <div>
                    <h2>share a ride</h2>
                </div>
            </a>
        </div>
        
        <div class="row">
            <a href="/#/">
                <div>
                    <h2>find study group</h2>
                </div>
            </a>
        </div>
        
        <div style="height:30px" class="row bd-gray fix-height"></div>
        <div class="row">
            <br />
            Update your profile. We need your preferred campus name, email address and other information to serve you better.
        </div>

        <div class="row">
            <a href="/#/profile">
                <div>
                    <h2>update your profile</h2>
                </div>
            </a>
        </div>
    </div>
</div>