<div class="row">
    <div>
        Your all textbooks are here...
        <br/>
    </div>
    <div ng-controller="AuthorTextbookCtrl">
        <ol>
            <li class="g" ng-repeat="result in searchResults">
                <div>
                    <h3 class="g">{{result.name}}</h3>
                    <span class="price" ng-show="result.price"> {{result.CurrencySymbol||'$'}}{{result.price}}</span><span class="isbn" ng-show="result.Isbn"> ISBN: {{result.isbn}}</span>
                    <section>{{result.description}}</section>
                    <button class="primary" ng-click="edit($index)">Edit </button> <button class="alert" ng-click="delete($index)">Delete </button>
                </div>
            </li>
        </ol>
        <button class="info large" ng-click="add()">Add New </button>
    </div>
</div>