<div class="row">

    <div class="large-12 medium-12 columns">
        <div>
            Choose a category to author.
            <br />
            You can add/delete/update a category item after selecting one from the list below...
        </div>
        <div class="tile triple bg-cyan">
            <a href="/#/auth/textbook/">
                <div class="tile-content image">
                    <img src="../src/vendor/images/book.png" />
                </div>

                <div class="brand bg-black">
                    <span class="label fg-white">{{categories[0].name}}</span>
                </div>
            </a>
        </div>

        <div class="tile bg-orange">
            <div class="tile-content image">
                <img src="../src/vendor/images/comments.png" />
            </div>

            <div class="brand bg-black">
                <span class="label fg-white">{{categories[1].name}}</span>
            </div>
        </div>

        <div class="tile double bg-magenta">
            <div class="tile-content image">
                <img src="../src/vendor/images/grid.png" />
            </div>

            <div class="brand bg-black">
                <span class="label fg-white">{{categories[2].name}}</span>
            </div>
        </div>

        <div class="tile double bg-lightGreen">
            <div class="tile-content image">
                <img src="../src/vendor/images/star.png" />
            </div>

            <div class="brand bg-black">
                <span class="label fg-white">{{categories[3].name}}</span>
            </div>
        </div>

        <div class="tile double bg-indigo">
            <div class="tile-content image">
                <img src="../src/vendor/images/link.png" />
            </div>

            <div class="brand bg-black">
                <span class="label fg-white">{{categories[4].name}}</span>
            </div>
        </div>

        <div class="tile double bg-lighterBlue">
            <div class="tile-content image">
                <img src="../src/vendor/images/users.png" />
            </div>

            <div class="brand bg-black">
                <span class="label fg-white">{{categories[5].name}}</span>
            </div>
        </div>
    </div>
</div>