<div class="row">
    <div class="large-12 medium-12 columns">
        <div class="tile triple bg-cyan">
            <a href="#textbooksearch">
                <div class="tile-content image">
                    <img src="../src/vendor/images/book.png" />
                </div>
                <div class="brand bg-black">
                    <span class="label fg-white">textbook</span>
                    <div class="badge bg-cyan" ng-bind="">{{categoryCatalog.categoryTextbook.count}}</div>
                </div>
            </a>
        </div>
        
        <div class="tile bg-orange">
            <a href="#tutorsearch">
                <div class="tile-content image">
                    <img src="../src/vendor/images/comments.png" />
                </div>

                <div class="brand bg-black">
                    <span class="label fg-white">find tutor</span>
                    <div class="badge bg-orange">{{categoryCatalog.categoryFindTutor.count}}</div>
                </div>
            </a>
        </div>
        
        <div class="tile double bg-magenta">
            <a href="#rentalsearch">
                <div class="tile-content image">
                    <img src="../src/vendor/images/grid.png" />
                </div>

                <div class="brand bg-black">
                    <span class="label fg-white">room for rent</span>
                    <div class="badge bg-magenta">{{categoryCatalog.categoryRoomForRent.count}}</div>
                </div>
            </a>
        </div>
        
        <div class="tile double bg-lightGreen">
            <div class="tile-content image">
                <img src="../src/vendor/images/star.png" />
            </div>

            <div class="brand bg-black">
                <span class="label fg-white">campus life events</span>
                <div class="badge bg-lightGreen">{{categoryCatalog.categoryCampusLifeEvents.count}}</div>
            </div>
        </div>
        
        <div class="tile double bg-indigo">
            <a href="#shareridesearch">
                <div class="tile-content image">
                    <img src="../src/vendor/images/link.png" />
                </div>

                <div class="brand bg-black">
                    <span class="label fg-white">share a ride</span>
                    <div class="badge bg-indigo">{{categoryCatalog.categoryShareRide.count}}</div>
                </div>
            </a>
        </div>

        <div class="tile double bg-lighterBlue">
            <div class="tile-content image">
                <img src="../src/vendor/images/users.png" />
            </div>

            <div class="brand bg-black">
                <span class="label fg-white">find study group</span>
                <div class="badge bg-lighterBlue">{{categoryCatalog.categoryFindStudyGroup.count}}</div>
            </div>
        </div>
    </div>
</div>