<div class="large-12 medium-12 columns">
    <div>
        <h4>{{title}}</h4>
    </div>
    <form ng-submit="search()">
        <div class="row">
            <div class="medium-11 small-11 end columns">
                <input type="search" ng-model="keyword" placeholder="Search by anything such as ISBN, Title, Keyword etc" />
            </div>
            <div class="medium-1 small-1 columns">
                <button class="large" id="search">Go</button>
            </div>
        </div>
    </form>
    <span class="searchStatus" ng-show="loading">
        <div style="display:block" class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </span>
    <ol>
        <li class="g" ng-repeat="result in searchResults">
            <div>
                <h3 class="g">{{result.Name}}</h3>
                <span class="price" ng-show="result.Price"> {{result.CurrencySymbol||'$'}}{{result.Price}}</span><span class="isbn" ng-show="result.Isbn"> ISBN: {{result.Isbn}}</span>
                <section>{{result.Description}}</section>
                <button class="primary">Contact Seller </button>
            </div>
        </li>
    </ol>
</div>
