<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My Word Tutor</title>
    <script src="http://code.angularjs.org/1.2.2/angular.js"></script>
    <script src="http://code.angularjs.org/1.2.2/angular-animate.min.js"></script>
    <script src="pickWord.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link href="style.css" rel="stylesheet" />
    <script>
        angular.module('language', ['ngAnimate'])
          .controller("wordController", function ($scope, $timeout, $http) {
              $http.get('sightwords.json').success(function (data) {
                  console.log(data);
                $scope.word = pickWord(data)();
            
              $scope.myClass = "red";
              $scope.names = [{
                  name: $scope.word
              }];
              $scope.$watch("enterWord", function () {
                  if ($scope.enterWord && $scope.enterWord.toUpperCase() === $scope.word.toUpperCase()) {
                      $scope.myClass = "green";
                  }
                  else {
                      $scope.myClass = "red";
                  }
              });
              $scope.startSlide = function () {
                  $timeout(function () {
                      $scope.names.pop();
                  }, 2000);
              };
              $scope.add = function () {
                  $scope.names.push({ name: $scope.word });
                  $scope.startSlide();
              };
              $scope.regen = function () {
                  $scope.word = pickWord(wordDictionary)();
                  $scope.names.pop();
                  $scope.names.push({ name: $scope.word });
                  $scope.startSlide();
              }

              $scope.startSlide();
              });
          });
    </script>
</head>
<body ng-app="language" ng-controller="wordController" ng-class="myClass">
    <div class="container center">
        <br />
        <input type="text" ng-model="enterWord" /> <input type="button" class="danger" value="s" ng-click="add()" /><input type="button" class="danger" value="r" ng-click="regen()" />
        <ul>
            <li ng-repeat="user in names">
                <div class="word">{{user.name}}</div>
            </li>

        </ul>
    </div>
</body>
</html>